BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Attach